<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
<head>


<title>Relatório Tribunal de Contas</title>
</head>

<body>

<div class="aw-layout-page">
<section class="aw-layout-content  js-content is-toggled">
<div layout:include="/cabecalho/CabecalhoLancamento"></div>

<br/>
<br/>
<br/>

<h2 align="center">Contratos e Instrumentos Congêneres</h2>

<br/>
<br/>
<br/>

<!--  th:if="${noventadias}"-->
<!--  th:if="${vencido}" -->


<table >
<thead>
				<tr>
				<th >Código U.O</th>
				<th >Nome U.O</th>
				<th >Código U.G</th>
				<th >Nome U.G</th>
				<th >Contratado</th>
				<th >CNPJ</th>
				<th >CPF</th>
				<th >Numero Contrato</th>
				<th >Objeto</th>
				<th >Data D.O.E</th>
				<th >Número Licitação</th>
				<th >Modalidade Licitação</th>
				<th >Vigência Início</th>
				<th >Vigência Atual</th>
				<th >Valor Inicial</th>
				<th >Valor Atual</th>
				<th >Qtde de aditivos</th>
				<th >Desembolso Exercício</th>
				<th >Desembolso Acumulado</th>
				
				</tr>		
</thead>
<tbody>
				<tr th:each="ct : ${todos}">
					<td th:text="${ct.cuo}"></td>
					<td th:text="${ct.nuo}"></td>
					<td th:text="${ct.cug}"></td>
					<td th:text="${ct.nug}"></td>
					<td th:text="${ct.contratado}"></td>
					<td th:text="${ct.cnpj}"></td>
					<td th:text="${ct.cpf}"></td>
					<td th:text="${ct.numero}"></td>
					<td th:text="${ct.objeto}"></td>
					<td th:text="${ct.doe} ? ${#dates.format(ct.doe, 'dd/MM/yyyy')}"></td>
					<td th:text="${ct.licitacao_numero}"></td>
					<td th:text="${ct.licitacao_modalidade}"></td>
					<td th:text="${#dates.format(ct.contrato_vigencia, 'dd/MM/yyyy')}"></td>
					<td th:text="${#dates.format(ct.contrato_fim, 'dd/MM/yyyy')}"></td>
					<td th:text="'R$' + ${#numbers.formatDecimal(ct.valor, 0, 'POINT', 2, 'COMMA')}"></td>
					<td th:text="'R$' + ${#numbers.formatDecimal(ct.valor_com_aditivo, 0, 'POINT', 2, 'COMMA')}"></td>
					<td th:text= "${ct.n_aditivos}"></td>
					<td th:text="'R$' + ${#numbers.formatDecimal(ct.pagoExercicio, 0, 'POINT', 2, 'COMMA')}"></td>
					<td th:text="'R$' + ${#numbers.formatDecimal(ct.pagoAcumulado, 0, 'POINT', 2, 'COMMA')}"></td>
					
						
				</tr>
				
							
</tbody>
</table>
</section>
</div>

</body>

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>

</html>