<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
<head>


<title>Resumo de Contrato</title>
</head>

<body>

<div class="aw-layout-page">
<section class="aw-layout-content  js-content is-toggled">
<div layout:include="/cabecalho/CabecalhoLancamento"></div>


<br/>
<br/>
<br/>

<table class="table table-bordered table-striped" th:object="${relatorio}">
 <tr>
  <td>
  <p><o:p>&nbsp;</o:p></p>
  </td>
  <td>
  <p>Valor</p>
  </td>
  <td>
  <p>Saldo</p>
  </td>
  <td>
  <p >Aditivo</p>
  </td>
  
 </tr>
 <tr>
  <td >
  <p >Janeiro</p>
  </td>
  <td>
  <p th:text="${janeiro_valor}"></p>
  </td>
  <td>
  <p th:text="${janeiro_saldo}"></p>
  </td>
  <td >
<p th:text="${janeiro_aditivo}"></p>
  </td>
 
 </tr>
 <tr >
  <td>
  <p>Fevereiro</p>
  </td>
  <td>
<p th:text="${fevereiro_valor}"></p>
  </td>
  <td >
 <p th:text="${fevereiro_saldo}"></p>
  </td>
  <td >
<p th:text="${fevereiro_aditivo}"></p>
  </td>
  
 </tr>
 <tr>
  <td>
  <p>Março</p>
  </td>
  <td>
<p th:text="${marco_valor}"></p>
  </td>
  <td>
<p th:text="${marco_saldo}"></p>
  </td>
  <td >
<p th:text="${marco_aditivo}"></p>
  </td>
 </tr>
 <tr>
  <td>
  <p>Abril</p>
  </td>
  <td>
<p th:text="${abril_valor}"></p>
  </td>
  <td>
<p th:text="${abril_saldo}"></p>
  </td>
  <td >
<p th:text="${abril_aditivo}"></p>
  </td>
  
 </tr>
 
  <tr>
  <td>
  <p>Maio</p>
  </td>
  <td>
<p th:text="${maio_valor}"></p>
  </td>
  <td>
  <p th:text="${maio_saldo}"></p>
  </td>
  <td >
<p th:text="${maio_aditivo}"></p>
  </td>
  
 </tr>
 
  <tr>
  <td>
  <p>Junho</p>
  </td>
  <td>
  <p th:text="${junho_valor}"></p>
  </td>
  <td>
  <p th:text="${junho_saldo}"></p>
  </td>
  <td >
<p th:text="${junho_aditivo}"></p>
  </td>
  
 </tr>
 
  <tr>
  <td>
  <p>Julho</p>
  </td>
  <td>
  <p th:text="${julho_valor}"></p>
  </td>
  <td>
   <p th:text="${julho_saldo}"></p>
  </td>
  <td >
<p th:text="${julho_aditivo}"></p>
  </td>
 
 </tr>
 
  <tr>
  <td>
  <p>Agosto</p>
  </td>
  <td>
<p th:text="${agosto_valor}"></p>
  </td>
  <td>
<p th:text="${agosto_saldo}"></p>
  </td>
  <td >
<p th:text="${agosto_aditivo}"></p>
  </td>

 </tr>
 
  <tr>
  <td>
  <p>Setembro</p>
  </td>
  <td>
<p th:text="${setembro_valor}"></p>
  </td>
  <td>
<p th:text="${setembro_saldo}"></p>
  </td>
  <td >
<p th:text="${setembro_aditivo}"></p>
  </td>
 
 </tr>
 
  <tr>
  <td>
  <p>Outubro</p>
  </td>
  <td>
<p th:text="${outubro_valor}"></p>
  </td>
  <td>
<p th:text="${outubro_saldo}"></p>
  </td>
  <td >
<p th:text="${outubro_aditivo}"></p>
  </td>

 </tr>
 
  <tr>
  <td>
  <p>Novembro</p>
  </td>
  <td>
<p th:text="${novembro_valor}"></p>
  </td>
  <td>
<p th:text="${novembro_saldo}"></p>
  </td>
  <td >
<p th:text="${novembro_aditivo}"></p>
  </td>
 </tr>
 
  <tr>
  <td>
  <p>Dezembro</p>
  </td>
  <td>
<p th:text="${dezembro_valor}"></p>
  </td>
  <td>
<p th:text="${dezembro_saldo}"></p>
  </td>
  <td >
<p th:text="${dezembro_aditivo}"></p>
  </td>

 </tr>
 
</table>






</section>
</div>
</body>

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>

</html>