<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
<head>


<title>Visualização de Processos</title>
</head>

<body>
<div class="aw-layout-page">
<section class="aw-layout-content  js-content is-toggled">
<div layout:include="/cabecalho/CabecalhoLancamento"></div>


<table>
 <tr>
  <td>
  <h5>Número do Processo:</h5>
  </td>
  <td>
  <div th:text="${processo_numero}" style="width: 300px"></div>
  </td>
 </tr>
 
 <tr>
 
  <td>
  <h5>Tipo de processo:</h5>
  </td>
  
  <td>
  <div th:text="${processo_tipo_processo}" style="width: 300px"></div>
  </td>
  
  </tr>
  
  <tr>
   <td>
  <h5>Data de abertura:</h5>
  </td>
  
  <td> 
  <div th:text="${processo_data_abertura}" style="width: 300px"></div>
  </td>
 </tr>
 
  <tr>
   <td>
  <h5>Pago:</h5>
  </td>
  
  <td> 
  <div th:if="${processo_pago}" th:text="'SIM'" style="width: 300px"></div>
  </td>
 </tr>
 
 <tr>
   <td>
  <h5>Data de pagamento:</h5>
  </td>
  
  <td> 
  <div th:if="${processo_pago}" th:text="${processo_data_pagamento}" style="width: 300px"></div>
  </td>
 </tr>
 
 
 
 
 
 
 
 
</table>

<div style="background-color:#1e94d2; color:white"><center><h3>Informações do lancamento(Processo de pagamento de nota fiscal)</h3></center></div>

<table class="table table-bordered table-striped">
<thead>
				<tr>
				<th class="text-center col-md-1">Número da nota fiscal</th>
				<th class="text-center col-md-2">Competência</th>
				<th class="text-center col-md-1">Data de lançamento</th>
				<th class="text-center col-md-1">Valor do lancamento</th>
				<th class="text-center col-md-1">Saldo do contrato</th>
				<th class="text-center col-md-1">Número de aditivo</th>
				<th class="text-center col-md-1">Valor do aditivo</th>
				</tr>
				
</thead>
<tbody>
				
					<tr>
					<td class="text-center" th:text="${processo_lancamento.numero_nota_fiscal}"></td>
					<td class="text-center" th:text="${processo_lancamento.competencia}"></td>
					<td class="text-center" th:text="${processo_lancamento.data} ? ${#dates.format(processo_lancamento.data, 'dd/MM/yyyy')} : 'Não informado'"></td>
					<td class="text-center" th:text="'R$' + ${#numbers.formatDecimal(processo_lancamento.valor, 0, 'POINT', 2, 'COMMA')}"></td>
					<td class="text-center" th:text="'R$' + ${#numbers.formatDecimal(processo_lancamento.saldo_contrato, 0, 'POINT', 2, 'COMMA')}"></td>
					<td class="text-center" th:text="${processo_lancamento.aditivo_n}"></td>
					<td class="text-center" th:text="${processo_lancamento.valor_aditivo} ? 'R$' + ${#numbers.formatDecimal(processo_lancamento.valor_aditivo, 0, 'POINT', 2, 'COMMA')}"></td>
					</tr>

				
			<tr>
				<td colspan="6" th:if="!${processo_lancamento}">Nenhum lancamento</td>
			</tr>
</tbody>
</table>

<div style="background-color:#1e94d2; color:white"><center><h3>Informações do contrato(Processo de renovação de contrato)</h3></center></div>

<table class="table table-bordered table-striped">
<thead>
				<tr>
				<th class="text-center col-md-1">Número da nota fiscal</th>
				<th class="text-center col-md-2">Competência</th>
				<th class="text-center col-md-1">Data de lançamento</th>
				<th class="text-center col-md-1">Valor do lancamento</th>
				<th class="text-center col-md-1">Saldo do contrato</th>
				<th class="text-center col-md-1">Número de aditivo</th>
				<th class="text-center col-md-1">Valor do aditivo</th>
				</tr>
				
</thead>
<tbody>
				
					<tr>
					<td class="text-center" th:text="${processo_lancamento.numero_nota_fiscal}"></td>
					<td class="text-center" th:text="${processo_lancamento.competencia}"></td>
					<td class="text-center" th:text="${processo_lancamento.data} ? ${#dates.format(processo_lancamento.data, 'dd/MM/yyyy')} : 'Não informado'"></td>
					<td class="text-center" th:text="'R$' + ${#numbers.formatDecimal(processo_lancamento.valor, 0, 'POINT', 2, 'COMMA')}"></td>
					<td class="text-center" th:text="'R$' + ${#numbers.formatDecimal(processo_lancamento.saldo_contrato, 0, 'POINT', 2, 'COMMA')}"></td>
					<td class="text-center" th:text="${processo_lancamento.aditivo_n}"></td>
					<td class="text-center" th:text="${processo_lancamento.valor_aditivo} ? 'R$' + ${#numbers.formatDecimal(processo_lancamento.valor_aditivo, 0, 'POINT', 2, 'COMMA')}"></td>
					</tr>

				
			<tr>
				<td colspan="6" th:if="!${processo_lancamento}">Nenhum lancamento</td>
			</tr>
</tbody>
</table>


</section>
</div>

</body>
</html>