<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<title>Pesquisa de Contratados</title>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>

</head>

<body>
<div class="aw-layout-page">
<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>

<section class="aw-layout-content  js-content">


<div class="panel panel-default">
		
		<div class="panel-heading">
		<div class="clearfix">	
			<h1 class="panel-title">Pesquisa de Contratados</h1>
			<form method="GET" action="/transparenciactb/contratados">
			<div class="col-lg-3">
   				 <div class="input-group">
     				 <input type="text" class="form-control" placeholder="Pesquise aqui..." name="busca"/>
    				  <span class="input-group-btn">
       					 <button class="btn btn-default" type="submit">Go!</button>
      				</span>
   				 </div>
 			 </div>
 			 <div class="col-lg-12">
 			 	<input type="radio" name ="nome" /> SIGLA/Nome	
 			 	<input type="radio" name ="razao" /> Razão Social
 			 	<input type="radio" name ="cnpj" /> CNPJ
 			 </div>
 			  
 			</form>
			<a class="btn btn-link aw-link-panel" href="/transparenciactb/contratados/novo">Novo contratado</a>
		</div>
		</div>
		<div class="panel-body">
		<div class="table-responsive  bw-tabela-simples">
		<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Nome/SIGLA</th>
				<th class="text-center col-md-2">Razão Social</th>
				<th class="text-center col-md-2">CNPJ</th>
				<th class="text-center col-md-2" th:if="${permissao}">Ações</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="contratados : ${buscaContratados}">
					<td class="text-center" th:text="${contratados.nome}"></td>
					<td class="text-center" th:text="${contratados.razaosocial}"></td>
					<td class="text-center" th:text="${contratados.cnpj}"></td>	
					<td class="text-center" th:if="${permissao}"><a class="btn btn-link btn-xs" th:href="@{/transparenciactb/contratados/{id_contratados}(id_contratados=${contratados.id_contratado})}" ><span class="glyphicon glyphicon-pencil" >Editar</span></a><a th:href="@{/transparenciactb/contratados/remove/{id_contratados}(id_contratados=${contratados.id_contratado})}" class="btn btn-link btn-xs" ><span class="glyphicon glyphicon-remove"> remover</span></a><a th:href="@{/transparenciactb/usuarios/visualizar/{id_contratado}(id_contratado=${contratados.id_contratado})}" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-eye-open"> visualizar</span></a></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(buscaContratados)}">Nenhuma empresa/serviço contratado(a) encontrado(a)</td>
			</tr>
			</tbody>
		
		</table>
		</div>
		</div>
	</div>	
</section>
</div>

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>

</body>
</html>