<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<title>Pesquisa de Usuários</title>
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
</head>

<body>
<div class="aw-layout-page">


<section class="aw-layout-content  js-content is-toggled">
<div layout:include="/cabecalho/CabecalhoLancamento"></div>

<div class="panel panel-default">
		
		<div class="panel-heading">
		<div class="clearfix">	
			<h1 class="panel-title">Pesquisa de Lançamentos</h1>
			<form method="GET" action="/transparenciactb/lancamentos/pesquisar/{id_contrato}">
			<div class="col-lg-3">
   				 <div class="input-group">
     				 <input type="text" class="form-control" placeholder="Pesquise aqui..." name="busca"/>
    				  <span class="input-group-btn">
       					 <button class="btn btn-default" type="submit">Go!</button>
      				</span>
   				 </div>
 			 </div>
 			 <div class="col-lg-12">
 			 	<input type="radio" name ="numero" /> Numero nota fiscal
 			 	<input type="radio" name ="data" /> Data de lancamento
 			 </div>
 			  
 			</form>
			<a class="btn btn-link aw-link-panel" th:href="@{/transparenciactb/lancamentos/novo/{id_contrato}(id_contrato=${contrato.id_contrato})}">Novo lançamento</a>
		</div>
		</div>
		<div class="panel-body">
		
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Número de nota fiscal</th>
				<th class="text-center col-md-2">Data de lançamento</th>
				<th class="text-center col-md-2">Valor</th>
				<th class="text-center col-md-2">Número de aditivo</th>
				<th class="text-center col-md-2">Valor do aditivo</th>
				<th class="text-center col-md-2">Observação</th>
			 	<th class="text-center col-md-2">Ação</th> 
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="lancamento : ${todosLancamentos}">
					<td class="text-center" th:text="${lancamento.numero_nota_fiscal}"></td>
					<td class="text-center" th:text="${lancamento.data} ? ${#dates.format(lancamento.data, 'dd/MM/yyyy')} : 'Não informado'"></td>
					<td class="text-center" th:text=" |R$ ${{lancamento.valor}}|"></td>
					<td class="text-center" th:text="${lancamento.aditivo_n}"></td>
					<td class="text-center" th:text="${lancamento.valor_aditivo} ? ${lancamento.valor_aditivo} : 'Não informado'"></td>
					<td class="text-center" th:text="${lancamento.observacao}"></td>
						 <td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/transparenciactb/lancamentos/gerar_edicao_lancamento/{id_lancamento}(id_lancamento=${lancamento.id_lancamento})}" ><span class="glyphicon glyphicon-pencil" >Editar</span></a><a th:if="${permissao}" th:href="@{/transparenciactb/lancamentos/remove/{id_lancamento}(id_lancamento=${lancamento.id_lancamento})}" class="btn btn-link btn-xs" ><span class="glyphicon glyphicon-remove"> Remover</span></a> <a  target="_blank" th:if="${permissao}" th:href="@{/transparenciactb/lancamentos/gerar_pagamento/{id_lancamento}(id_lancamento=${lancamento.id_lancamento})}" class="btn btn-link btn-xs" ><span class="glyphicon glyphicon-usd"> Registrar Pagamento</span></a><a th:if="${lancamento.possui_aditivo}" th:href="@{/transparenciactb/garantias/pesquisar/{id_lancamento}(id_lancamento=${lancamento.id_lancamento})}"><span class="glyphicon glyphicon-ok">Registrar Garantia</span></a></td> 
					
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(todosLancamentos)}">Nenhum lançamento encontrado</td>
			</tr>
			</tbody>
		
		</table>
		
		<div class="col-sm-12 text-center">
		
				<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="?page=0">1</a></li>
    <li><a href="?page=1">2</a></li>
    <li><a href="?page=2">3</a></li>
    <li><a href="?page=3">4</a></li>
    <li><a href="?page=4">5</a></li>
    <li><a href="?page=5">6</a></li>
    <li><a href="?page=6">7</a></li>
    <li><a href="?page=7">8</a></li>
    
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
		</div>
		
		</div>
	</div>	
</section>
</div>
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>
</body>
</html>