<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
<head>

<title>Cadastro de Lancamentos</title>
</head>

<section layout:fragment="conteudo">

<form class="form-horizontal" method="POST" action="/transparenciactb/lancamentos/" th:object="${lancamento}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Lançamento</h1>
		<a class="btn btn-link aw-link-panel" href="/gereteci/usuarios">Voltar para pesquisa</a>
		</div>
		</div>
	
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_lancamento}" />
	
		
		
			<div class="form-group" >
			<label for="matricula" class="col-sm-2 control-label">Número da nota fiscal:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="numero_nota_fiscal" name="numero_nota_fiscal" th:field="*{numero_nota_fiscal}" />
			</div>
		</div>
			<div class="form-group" >
			<label for="funcao" class="col-sm-2 control-label">Observação:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="observacao" name="observacao" th:field="*{observacao}"/>
			</div>
		</div>
		
		<div class="form-group" >
			<label for="funcao" class="col-sm-2 control-label">Data do lançamento:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="data" name="data" th:field="*{data}" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" value="teste"/>
			</div>
		</div>
		<div class="form-group" >
		<div class="col-sm-6">
			<input type="checkbox" name="possui_aditivo" th:checked="${possui_aditivo}"/>Este lançamento possui aditivo?<br/>
		</div>
		</div>
		
			<div class="form-group" >
			<label for="nome" class="col-sm-2 control-label" >Número do aditivo:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="aditivo_n" name="aditivo_n" th:field="*{aditivo_n}"/>
			</div>
		</div>
		
		<div class="form-group" >
			<label for="nome" class="col-sm-2 control-label" >Valor do aditivo </label>
			<div class="col-sm-2">
				<input type="text" class="form-control js-currency" id="valor_aditivo" name="valor_aditivo" th:field="*{valor_aditivo}"/>
			</div>
		</div>
		
		<div class="form-group" >
			<label for="nome" class="col-sm-2 control-label" >Tipo do aditivo:</label>
		<div class="col-sm-2">
				<select class="form-control" name="tipoaditivo">
					<option th:each="tipo : ${todosTipos}" th:value="${tipo}" th:text="${tipo.tipoaditivo}" th:selected="${su} ? ${su.tipoaditivo.tipoaditivo} == ${tipo.tipoaditivo}"></option>
				</select>
			</div>
			</div>
			
			<div class="form-group" >
			<label for="nome" class="col-sm-2 control-label" >Meses de prorrogação (Aditivo de tempo):</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="meses_prorrogacao" name="meses_prorrogacao" th:field="*{meses_prorrogacao}"/>
			</div>
		</div>
		
		
		<!--  
		<div class="form-group" >
		<div class="col-sm-6">
			<input type="checkbox" name="liquidado" th:checked="${liquidado}"/>A nota foi liquidada?<br/>
		</div>
		</div>
		-->
		
		<!--  
		<div class="form-group" >
			<label for="funcao" class="col-sm-2 control-label">Data do liquidação da nota:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="dataliquidacao" name="dataliquidacao" th:field="*{dataliquidacao}" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" value="teste"/>
			</div>
		</div>
			-->
		<div class="form-group" >
			<label for="funcao" class="col-sm-2 control-label">Valor:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control js-currency" id="valor" name="valor" th:field="*{valor}"/>
			</div>
		</div>
		<!--  
			<div class="form-group">
			<label for="arquitetura" class="col-sm-2 control-label">Processo de pagamento(número):</label>
			<div class="col-sm-2">
				<select class="form-control" name="lancamento_id_processo">
					<option th:each="processo : ${todosProcessos}" th:value="${processo.id_processo}" th:text="${processo.numero_processo}" th:selected="${lancamento.processo} ? ${lancamento.processo.id_processo} == ${processo.id_processo}"></option>
				</select>
			</div>
		</div>	    
		-->
		<div class="form-group">
			<label for="cnpj" class="col-sm-2 control-label">Contrato:</label>
			<div class="col-sm-2">
				<select class="form-control" name="lancamento_id_contrato">
					<option th:value="${contrato.id_contrato}" th:text="${contrato.numero}" ></option>
				</select>
			</div>
		</div>
	
		
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
		
	</div>
	</div>
</form>
</section>
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.js"></script>

<script src="/layout/javascripts/ctb.js"></script>
</html>