<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<title>Cadastro de Processos</title>
  <link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>



</head>

<body>
<div class="aw-layout-page">

<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>

<section class="aw-layout-content  js-content">

	<div class="page-header">
	<div class="container-fluid">
		<h1>
			Cadastro de Processos
		</h1>
	</div>
</div>

<div class="container-fluid">

<form class="form-horizontal" method="POST" action="/transparenciactb/processos" th:object="${processo}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
       <div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Processo</h1>
		<a class="btn btn-link aw-link-panel" href="/transparenciactb/processos">Voltar para pesquisa</a>
		</div>
		</div>
	
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_processo}" />
		
			<div class="form-group" th:classappend="${#fields.hasErrors('data_abertura')} ? has-error">
			<label for="data_compra" class="col-sm-2 control-label">Data de abertura do processo:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="data_abertura" name="data_abertura" th:field="*{data_abertura}" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" value="teste"/>
			</div>
		</div>
		
		<div class="form-group" th:classappend="${#fields.hasErrors('data_pagamento')} ? has-error">
			<label for="data_compra" class="col-sm-2 control-label">Data de pagamento do processo:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="data_pagamento" name="data_pagamento" th:field="*{data_pagamento}" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" value="teste"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="cnpj" class="col-sm-2 control-label">Número do processo:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="numero_processo" name="numero_processo" th:field="*{numero_processo}" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="cnpj" class="col-sm-2 control-label">Número da CI:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="numero_ci" name="numero_ci" th:field="*{numero_ci}" />
			</div>
		</div>
			<div class="input-group">
				        <input type="checkbox" name="pago" id="pago" th:checked="${processo.pago}"/> Pago	
			</div>
				    
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>

</div>

<script>
function excluir() {
	swal({
		title: "Tem certeza?",
		text: "Você não poderá recuperar o produto após a exclusão.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Sim, exclua agora!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true
	}, function() {
		setTimeout(function() {
			swal("Excluído!", "O produto foi excluído com sucesso.", "success");
		}, 2000);
	});
}
</script>


</section>

 <footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; Companhia de Transportes do Estado da Bahia . Todos os direitos reservados.</span>
		</div>
	</footer>
</div>	

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>

</body>
</html>