<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<title>Cadastro de Contratados</title>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>

</head>

<body>
<div class="aw-layout-page">

<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>


<section class="aw-layout-content  js-content">

<div class="page-header">
	<div class="container-fluid">
		<h1>
			Cadastro de Contratados
		</h1>
	</div>
</div>
		
		
<div class="container-fluid">

<form class="form-horizontal" method="POST" action="/transparenciactb/contratados" th:object="${contratado}">
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Nova Empresa</h1>
		<a class="btn btn-link aw-link-panel" href="/gereteci/usuarios">Voltar para pesquisa</a>
		</div>
	</div>
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_contratado}" />
		<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
			<label for="nome" class="col-sm-2 control-label" >Nome:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}"/>
			</div>
		</div>
			<div class="form-group">
			<label for="cnpj" class="col-sm-2 control-label">CNPJ:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="cnpj" name="cnpj" th:field="*{cnpj}" />
			</div>
		</div>
			
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>
</div>
<script>
function excluir() {
	swal({
		title: "Tem certeza?",
		text: "Você não poderá recuperar o produto após a exclusão.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Sim, exclua agora!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true
	}, function() {
		setTimeout(function() {
			swal("Excluído!", "O produto foi excluído com sucesso.", "success");
		}, 2000);
	});
}
</script>

</section>

<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; Companhia de Transportes do Estado da Bahia . Todos os direitos reservados.</span>
		</div>
	</footer>
	
	

</div>
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>

</body>
</html>