<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<title>Cadastro de Usuários</title>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
</head>

<body>

<div class="aw-layout-page">

<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>

<section class="aw-layout-content  js-content">

<div class="page-header">
	<div class="container-fluid">
		<h1>
			Cadastro de Usuários
		</h1>
	</div>
</div>
<div class="container-fluid">


<form class="form-horizontal" method="POST" action="/transparenciactb/usuarios" th:object="${usuario}">
<div layout:include="/mensagem/MensagemUsuario"></div>
		<div class="panel panel-default">
	<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Usuário</h1>
		<a class="btn btn-link aw-link-panel" href="/transparenciactb/usuarios">Voltar para pesquisa</a>
		</div>
	</div>
	<div class="panel-body">
	<input type="hidden" th:field="*{id_usuario}" />
		<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
			<label for="nome" class="col-sm-2 control-label" >Nome:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}"/>
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('matricula')} ? has-error">
			<label for="matricula" class="col-sm-2 control-label">Matrícula:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="matricula" name="matricula" th:field="*{matricula}" />
			</div>
		</div>
			<div class="form-group" >
			<label for="funcao" class="col-sm-2 control-label">Cargo/Função:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="funcao" name="funcao" th:field="*{funcao}"/>
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="setor_id_setor" class="col-sm-2 control-label">Setor de alocação:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="setor" name="setor" th:field="*{setor}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="telefone" class="col-sm-2 control-label">Telefone:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="telefone" name="telefone" th:field="*{telefone}" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">E-mail:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="email" name="email" th:field="*{email}" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Password:</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="password" name="password" th:field="*{password}" />
			</div>
		</div>
		
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Grupos disponiveis:</label>
			<div class="col-sm-6">
				<select class="form-control" name="grupos" multiple="multiple">
					<option th:each="grupo : ${grupos}" th:value="${grupo.codigo}" th:text="${grupo.nome}"></option>
				</select>
			</div>
</div>
		
		
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>

</div>

<script>
function excluir() {
	swal({
		title: "Tem certeza?",
		text: "Você não poderá recuperar o produto após a exclusão.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Sim, exclua agora!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true
	}, function() {
		setTimeout(function() {
			swal("Excluído!", "O produto foi excluído com sucesso.", "success");
		}, 2000);
	});
}
</script>

</section>

<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; Companhia de Transportes do Estado da Bahia . Todos os direitos reservados.</span>
		</div>
	</footer>

</div>

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>
</body>
</html>