<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
	<style type="text/css">
  .popup{
     position: fixed;
     top: 0; bottom: 0;
     left: 0; right: 0;
     margin: auto;
     width: 300px;
     height: 150px;
     padding: 20px;
     border: solid 1px #331;
     background: #ffffd0;
     display: none;
  }
  </style>
  
<head>


<title>Renovação de contrato</title>
</head>

<section layout:fragment="conteudo">

<form class="form-horizontal" method="POST" th:action="@{/transparenciactb/contratos/renovar/{id_contrato}(id_contrato = ${contrato.id_contrato})}"  th:object="${contrato}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<input type="hidden" th:field="*{id_contrato}" />
			
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Registrar processo de renovação de contrato</h1>
		</div>
		</div>
	
	
	<div class="panel-body">

	<div class="panel-heading">
	    <h5><b>Contrato referente:</b><span th:text="${contrato.numero}"></span></h5>
	    <h5><b>Empresa:</b>:<span th:text="${contrato.contratado} ? ${contrato.contratado.nome} + '-' + ${contrato.contratado.cnpj}"></span></h5>
	    <h5><b>Gestor</b>:<span th:text="${contrato.gestor} ? ${contrato.gestor.nome}: 'Não informado'"></span></h5>
	    <h5><b>Data de assinatura</b>:<span th:text="${contrato.data_vencimento}"></span></h5>
	    <h5><b>Valor:</b><span th:text="'R$' + ${#numbers.formatDecimal(contrato.valor_contrato, 0, 'POINT', 2, 'COMMA')}"></span></h5>
	     <h5><b>Saldo atual do contrato:</b><span th:text="'R$' + ${#numbers.formatDecimal(contrato.saldo_contrato, 0, 'POINT', 2, 'COMMA')}"></span></h5>
		      
        </div>
	     		  
			<div class="form-group">
			<label for="arquitetura" class="col-sm-2 control-label">Processo:</label>
			<div class="col-sm-2">
				<select class="form-control" name="contrato_id_processo">
					<option th:each="processo : ${todosProcessosRenovacao}" th:value="${processo.id_processo}" th:text="${processo.numero_processo}" th:selected="${contrato.processo} ? ${contrato.processo.id_processo} == ${processo.id_processo}"></option>
				</select>
			</div>
		</div>	    
		
			
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
		
	</div>
	</div>
</form>
</section>
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.js"></script>

<script src="/layout/javascripts/ctb.js"></script>
</html>