<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<title>Edição de Contratos</title>
 	   <link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
	
</head>

<body>
<div class="aw-layout-page">

<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>

<section class="aw-layout-content  js-content">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			Edição de Contratos
		</h1>
	</div>
</div>

<div class="container-fluid">
		
		<!--   <div layout:include="/mensagem/MensagemErro"></div> -->
	
	<form class="form-horizontal" method="POST" action="/transparenciactb/contratos/{id_contrato}/salvar1" th:object="${contrato}">
	<div layout:include="/mensagem/MensagemUsuario"></div>
	<div layout:include="/mensagem/MensagemErro"></div>
	
	<input type="hidden" th:field="*{id_contrato}" />
	
	<h2>Escolha o que você quer editar:</h2>
	
	<h5><a class="btn btn-link btn-xs" target="_blank" th:href="@{/transparenciactb/contratos/editar_informacoes/{id_contrato}(id_contrato=${contrato.id_contrato})}" >Editar informações do contrato</a></h5>
	<h5><a class="btn btn-link btn-xs" target="_blank" th:href="@{/transparenciactb/contratos/editar_gestor/{id_contrato}(id_contrato=${contrato.id_contrato})}">Editar Gestor, Fiscal ou Empresa do contrato</a></h5>
	</form>
		
	</div>	

	</section>
</div>
	
<script>
function excluir() {
	swal({
		title: "Tem certeza?",
		text: "Você não poderá recuperar o produto após a exclusão.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Sim, exclua agora!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true
	}, function() {
		setTimeout(function() {
			swal("Excluído!", "O produto foi excluído com sucesso.", "success");
		}, 2000);
	});
}
</script>


	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">Companhia de Transportes do Estado da Bahia . Todos os direitos reservados.</span>
		</div>
	</footer>
	
	


<!--  <script src="/layout/javascripts/bootstrap.min.js"></script> -->
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.js"></script>

<script src="/layout/javascripts/ctb.js"></script>

</body>
</html>