<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<title>Cadastro de Contratos</title>
 	   <link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>
	
</head>

<body>
<div class="aw-layout-page">

<div layout:include="/cabecalho/Cabecalho"></div>

<div layout:include="/cabecalho/DashBoard"></div>

<section class="aw-layout-content  js-content">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			Cadastro de Contratos
		</h1>
	</div>
</div>

<div class="container-fluid">
		
		<!--   <div layout:include="/mensagem/MensagemErro"></div> -->
	
	<form class="form-horizontal" method="POST" action="/transparenciactb/contratos/{id_contrato}/salvar2" th:object="${contrato}">
	
	<div layout:include="/mensagem/MensagemUsuario"></div>
	<div layout:include="/mensagem/MensagemErro"></div>
	
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Editar Contrato</h1>
		<a class="btn btn-link aw-link-panel" href="/transparenciactb/contratos">Voltar para pesquisa</a>
		</div>
	</div>
	
	
		<div class="panel-body">
		
			
			
			
		
		<input type="hidden" th:field="*{id_contrato}" />
						 
					
		<div class="form-group">
			<label for="arquitetura" class="col-sm-2 control-label">Gestor:</label>
			<div class="col-sm-4">
				<select class="form-control" name="contrato_id_gestor">
					<option th:each="gestor : ${todosGestores}" th:value="${gestor.id_usuario}" th:text="${gestor.nome}" th:selected="${contrato.gestor} ? ${contrato.gestor.id_usuario} == ${gestor.id_usuario}"></option>
				</select>
			</div>
		</div>	
		
		<div class="form-group">
			<label for="arquitetura" class="col-sm-2 control-label">Fiscal:</label>
			<div class="col-sm-4">
				<select class="form-control" name="contrato_id_fiscal">
					<option th:each="fiscal : ${todosFiscais}" th:value="${fiscal.id_usuario}" th:text="${fiscal.nome}" th:selected="${contrato.fiscal} ? ${contrato.fiscal.id_usuario} == ${fiscal.id_usuario}"></option>
				</select>
			</div>
		</div>	 
		    
		
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
	</div>	
	</div>
	</form>
</div>

<script>
function excluir() {
	swal({
		title: "Tem certeza?",
		text: "Você não poderá recuperar o produto após a exclusão.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Sim, exclua agora!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true
	}, function() {
		setTimeout(function() {
			swal("Excluído!", "O produto foi excluído com sucesso.", "success");
		}, 2000);
	});
}
</script>

	</section>
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">Companhia de Transportes do Estado da Bahia . Todos os direitos reservados.</span>
		</div>
	</footer>
	
	
</div>

<!--  <script src="/layout/javascripts/bootstrap.min.js"></script> -->
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>


<script src="/layout/javascripts/bootstrap-datepicker.min.js"></script>
 <script src="/layout/javascripts/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/layout/javascripts/bootstrap.min.js"></script>
<script src="/layout/javascripts/jquery-2.2.0.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.min.js"></script>
<script src="/layout/javascripts/jquery.maskMoney.js"></script>

<script src="/layout/javascripts/ctb.js"></script>

</body>
</html>